<div class="container-fluid">
  <div class="padded-content">
    <h1>Editing Message</h1>

    <%= render 'form' %>

    <%= link_to 'Show', course_lecture_message_path(@course, @lecture, @message) %> |
    <%= link_to 'Back', course_lecture_messages_path(@course, @lecture) %>
  </div>
</div>
