<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<%= link_to 'Edit', edit_course_lecture_message_path(@course, @lecture, @message) %> |
<%= link_to 'Back', course_lecture_messages_path(@course, @lecture) %>
