<div class="container-fluid">
  <div class="padded-content">
    <h2>About</h2>
    <hr/>

    <p>ClassRoulette is a real-time forum for the class room. Professors can set up chat sessions for each of their lectures. That way, students can ask questions on the spot and TAs can help clarify when things move to quickly or the topics become difficult to understand.</p>
  </div>
</div>