<div class="container-fluid">
  <div class="padded-content">
    <h2>Contact Us</h2>
    <hr/>

    <p>You can contact Steven and Dalton on Github:</p>
    <ul>
      <li><a href="https://github.com/straversi">Contact Steven</a></li>
      <li><a href="https://github.com/daltonboll">Contact Dalton</a></li>
    </ul>
  </div>
</div>