// Place all the styles related to the Lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-wrapper {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.chat-wrapper h3 {
  display: inline-block;
}

.message-area {
  text-align: left;
  position: relative;
}

.user-message, .other-user-message {
  margin-bottom: 4px;
}
.user-message {
  text-align: right;
}
.other-user-message {
  text-align: left;
}
.message-bubble {
  display: inline-block;
  max-width: 350px;
  padding: 6px 6px 4px 6px;
  border-radius: 4px;
  text-align: left;
  margin: 3px 3px 0px 3px;
}
.user-message > .message-bubble {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #388E3C;
  border-top: none;
  border-bottom-width: 2px;
}
.other-user-message > .message-bubble {
  background-color: #E0E0E0;
  border: 1px solid #757575;
  border-top: none;
  border-bottom-width: 2px;
}

form {
  text-align: right;
}
textarea {
  width: 75%;
  height: 74px;
  font-size: 18px;
  resize: none;
}
