<footer id="footer">
  <div class="container-fluid center" id="footer-bar">
    <p>UC Berkeley Rails Decal Final Project</p>
    <small>Created by Dalton Boll and Steven Traversi &copy;2015</small>
  </div>
</footer>